@import "../utilities/variables.scss";
@import "../utilities//mixins.scss";

.DashboardPlayerPage{

    #nextEvent{
        display:flex;
        justify-content: space-around;
        width:100%;
        

        h4{
            margin-bottom:15px;
            font-weight: 600;
            background-color: $fifth-color;
            color: #fff;
            padding:10px 5px;
            text-align:center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        #nextEncounter{
         margin-top:40px;
         background-color:#fff;
         padding-bottom : 30px;
         width: 97%;
         border-radius: 10px;
         

            #encounter{
                background-color:#e0e1e7;
                padding : 16px 25px ;
                text-align: center;
                max-width: 90%;
                margin:auto;
                border-radius: 10px;
                p{
                    margin-left : 7px;
                    margin-right: 7px;
                    font-size: 26px;
                    margin-bottom: 0px;

                    .vs{
                        background-color:#adaeb4;
                        padding-top: 18px;
                        padding-bottom: 19px;
                        padding-left : 15px;
                        padding-right:15px;
                        color: #d0d1d4;
                        margin-right:7px;
                        margin-left:7px;
                    }
                }
                
            }
        }

        .date{
            margin-left:5%;
            margin-bottom:5px;
            color: #c2c3c5; 
            font-weight: 600;
            font-size: 18px;

            
        }

        
    }

    .encounters-left{
        display:flex;
        justify-content: space-around;
        margin-top:70px; 
        width:100%;

        h6{
            margin-bottom: 15px;
            font-weight: 600;
            text-align:center;
            background-color: $fifth-color;
            padding:10px 5px;
            color: #fff;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        p{
            margin-bottom: 0;
            color:rgb(26, 24, 24);
        }
        #nextEncounters, #nextTrainings{
            background-color:#fff;
            border-radius: 10px;
        }

        #nextEncounters{
            width : 40%;
        }

        #nextTrainings{
            width : 55%;
        }
        .vs{
            background-color:#adaeb4;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left : 15px;
            padding-right:15px;
            color: #d0d1d4;
            margin-right:7px;
            margin-left:7px;
        }

        .nextEncounters, .nextTrainings{
            //margin-top:10px;
            background-color:#e0e1e7;
            padding : 10px 25px ;
            text-align: center;
            max-width: 90%;
            margin:auto;
            margin-bottom:10px;
            border-radius: 10px;
        }

        .nextEncounters{
            p{
                font-weight: 600;
            }
        }
        .date{
            margin-left:5%;
            color: #c2c3c5; 
            margin-bottom: 5px;
            font-weight: 600;
        }
    }

    .btn-link{
        width :100%;
        padding:0px;
        color:rgb(26, 24, 24);
    }
}