@import "../utilities/variables.scss";
@import "../utilities/mixins.scss";

.EncountersAdminPage{
    @include component-size(flex, column, center, flex-start);
    #div-search {
        //align-items: flex-start;
        width: 97%;
        #search {
            width: 30%;
        }

        #statusMatch {
            width: 30%;
        }

  
    }
    table{
        width:97%;
        input{
            max-width: 150px;
        }
        .edit, .confirm{
            margin-right:5px;
        }
        .btn-sm {
            margin-bottom:5px;
        }

        .error {
            width: 100%;
            margin-top:0.25rem;
            font-size:80%;
            color : #E74C3C;
        }
    }
}