@import "../utilities/variables.scss";
@import "../utilities/mixins.scss";

.FormationPage {
  @include component-size(flex, column, center, flex-start);

  /*@media (orientation: landscape) {
    body {
      flex-direction: row;
    }
  }
  @media (orientation: portrait) {
    body {
      flex-direction: column;
    }
  }*/

  @media screen and (max-width: 900px) {
    .flexBox {
      display:flex;
      flex-direction: column;
      align-items: center;
      min-width:600px;
      margin-top:8px;
    }

    .playerList {
      display: flex;
      flex-direction: row;
      border: solid 1px black;
      overflow:auto;
      width:600px;
      padding-bottom:50px;
      padding-top:50px;
      margin:10px;
      margin-top:25px;
    }
  }

  @media screen and (min-width: 900px) {
    .flexBox {
      display:flex;
      flex-direction: row;
      justify-content:space-between;
      align-items: center;
      min-width:600px;
      margin-top:8px;
    }

    .playerList {
      border: solid 1px black;
      min-height:512px;
      max-height:512px;
      min-width:250px;
      max-width:250px;
      overflow:auto;
      padding-top:50px;
      margin:10px;
      margin-top:25px;
    }
  }

  /*.flexBox {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
  }*/

  .flexCard {
    display: flex;
   // align-items: center;
    height:64px;
   // padding:0%;
  }

  /*.playerList {
    border: solid 1px black;
    min-height:512px;
    max-height:512px;
    min-width:200px;
    max-width:200px;
    overflow:auto;
    padding-top:50px;
    margin:10px;
    margin-top:25px;
  }*/

  #soccerField {
    border: solid 1px black;
    width:512px;
    height:685px;
    background: url("../img/soccer-field.png")center center no-repeat;
    //background-size: 40%;
  }

  .fieldPos {
    position:relative;
    border: solid 1px black;
    background-color:rgba(0,0,0,0.5);
    font-size:10px;
    transform: translate( x, y);
   // width:75px;
   // height:75px;
  }

  transform: translate(x, y);

  .fieldPos p {
    position:sticky;
    background-color: $fifth-color-lighten;
    color:#ebecf1;
    text-align: center;
    margin-bottom: 0;
  }

  /**
    PLAYERCARD
   */

  .playerCard {
  //  display:flex;
  //  flex-direction: column;
    border: solid 1px black;
 //   position:relative;
    background-color: $fifth-color-lighten;
    border-radius: 10px;
  //  background-color:grey;
    width:200px;
    min-width:200px;
    height:100px;
    max-height: 100px;
    margin:4px;
    margin-left:8px;
    text-align: center;
    color:#ebecf1;
  }

  .player-stats {
    color:black;
  }

  .player-stats p {
    display:flex;
    flex-direction: row;
  }

  .emptyPics {
    z-index:1;
    position:absolute;
    background-color: rgba(0,0,0,0.5);
    top:0px;
    left:0px;
    width:75px;
    height:75px;
  }

  /**
    PLAYERCARD SLOTED
   */

  .playerCardSloted {
    //  border: solid 1px black;
  //  display:flex;
  //  flex-direction: column;
    text-align: center;
    color:$base-color;
    /*width:75px;
    height:75px;*/
  }

  .playerCardSloted .infos-player{
    display: flex;
    flex-direction: column;
    background-color: $base-color ;
  }

  .playerCardSloted .stats-container {
    display:none;
  }

  .playerCardSloted .infos-player .nameCard {
   // position:sticky;
   // z-index:5;
    font-size:10px;
    background-color: $fifth-color-lighten;
    bottom:0;
    width:75px;
  }

  .playerCardSloted .infos-player .noNameCard {
    z-index:1;
    font-size:10px;
    position:absolute;
    background-color: $second-color;
  //  opacity: 0.8;
    bottom:0px;
    left:0px;
  }

  .playerCardSloted .infos-player .picture-profil {
  //  position:relative;
   // top:0px;
    max-width:66%;
    height:auto;
    margin-left:auto;
    margin-right:auto;

    /*max-height:78%;
    width:auto;*/
  }

  .playerCardSloted .infos-player .user-picture {
  //  z-index:1;
  //  position:relative;
  //  top:0px;
  //  left:0px;
    width:100%;
    height:79%;
    background: url("../img/user.png") center center no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
  }

  .emptyCard {
    font-size:18px;
    width:75px;
    height:75px;
  }

  .playerCard .picture-profil{
    /*width:75px;
    height:50px;*/
    max-width:50px;
    height:auto;
    background-size: contain;
    margin-top:4px;
  //  margin-left: 4px;
   // margin-left: auto;
 //   margin-right: auto;
    margin-left: 25%;
  }

  .playerCard .user-picture{
    height:50px;
    width:50px;
    background: url("../img/user.png") center center no-repeat;
    background-size: contain;
    margin-top:4px;
    margin-left: 25%;
  //  margin-bottom: 10px;
  }

  .playerCard .nameCard {
    text-align: center;
    margin-left:6px;
    width:25%;
  }

  .playerCardDragged {

  }

  .playerCardDragged .nameCard {
    border: solid 1px black;
    border-radius: 25%;
    background-color: rgba(200,200,200,0.7);
    width:100%;
    margin:auto;
   // margin-left:4px;
  }

  .playerCardDragged .noNameCard {
    border: solid 1px black;
    border-radius: 25%;
    background-color: rgba(0,0,0,0.7);
    width:100%;
    margin:auto;
    color:white;
    // margin-left:4px;
  }

  .playerCardDragged .picture-profil {
    /*width:75px;
   height:50px;*/
    max-width:75px;
    height:auto;
    background-size: contain;
    margin-top:10%;
    margin-left: 10%;
    // margin-left: auto;
    margin-right: auto;
  }

  .playerCardDragged .user-picture {
    /*height:75px;
    width:75px;
    background: url("../img/user.png") center center no-repeat;
    background-size: contain;
    margin-top:4px;
    margin-left: 4px;*/
    height:75px;
    width:75px;
    background: url("../img/user.png") center center no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
  }

  .stats-container {
    width:50%;
    margin-right:10%;
  }

  .player-stats{
    margin:10px;
  }

  span{
    display: inline-block;
    width: 15px;
    height: 25px;
    margin-bottom: -6px;
    margin-left: 3px;
  }
  .redCard{
    //ajout ratio
    border-radius: 4px;
    margin:2px;
    background: url('../img/redCard.png') center center no-repeat;
  }
  .yellowCard{
    border-radius: 4px;
    margin:2px;
    background: url('../img/yellowCard.png') center center no-repeat;
  }
  .passAssist{
    min-width:20px;
    max-height:100%;
    background: url('../img/passAssist.png') center center no-repeat;
    background-size: 100%;
  }
  .goal{
    min-width:20px;
    max-height:100%;
    background: url('../img/goal_2.png') center center no-repeat;
    background-size: 100%;
  }

  .noSaved {
    background-color: #fd7e14;
  }

  .tacticMenu {
    display:inline;
  }
}