@import "../utilities/variables.scss";
@import "../utilities/mixins.scss";

.FormationPage {
  @include component-size(flex, column, center, flex-start);

  .flexBox {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
  }

  .playerList {
    border: solid 1px black;
    min-height:512px;
    max-height:512px;
    min-width:200px;
    max-width:200px;
    overflow:auto;
    padding-top:50px;
    margin:10px;
    margin-top:25px;
  }

  #soccerField {
    border: solid 1px black;
    width:512px;
    height:685px;
    background: url("../img/soccer-field.png")center center no-repeat;
    //background-size: 40%;
  }

  .fieldPos {
    position:relative;
    border: solid 1px black;
    background-color:rgba(0,0,0,0.5);
    font-size:10px;
    width:75px;
    height:75px;
  }

  .playerCard {
  //  display:flex;
  //  flex-direction: column;
    border: solid 1px black;
    position:relative;
    background-color: $fifth-color-lighten;
  //  background-color:grey;
    width:150px;
    margin:4px;
    margin-left:8px;
    text-align: center;
  }

  .playerCardSloted {
  //  border: solid 1px black;
    text-align: center;
    color:$base-color;
    width:75px;
    height:75px;
  }

  .playerCardSloted .nameCard {
    z-index:1;
    font-size:10px;
    position:relative;
    background-color: $fifth-color-lighten;
    top:0px;
    left:0px;
  }

  .playerCardSloted .noNameCard {
    z-index:1;
    font-size:10px;
    position:relative;
    background-color: $second-color;
    top:0px;
    left:0px;
  }

  .emptyPics {
    z-index:1;
    position:absolute;
    background-color: rgba(0,0,0,0.5);
    top:0px;
    left:0px;
    width:75px;
    height:75px;
  }

  .playerCardSloted .picture-profil {
    z-index:0;
    position:absolute;
    top:0px;
    left:0px;
    width:75px;
    height:75px;
  }

  .playerCardSloted .user-picture {
    z-index:0;
    position:absolute;
    top:0px;
    left:0px;
    width:75px;
    height:75px;
  }

  .emptyCard {
    width:75px;
    height:75px;
  }

  .hovered {
    width: 50px;
    min-height: 50px;
    background-color:rgba(0,0,0,0.5);
    border: white dashed;
  }

  /*.item-list__item{
    border: solid 1px black;
    position: relative;
    background-color: rgb(56, 236, 39);
    width: 50px;
    height: 50px;
  }*/

  .picture-profil{
    width:50px;
    height:50px;
    border-radius: 50%;

    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .user-picture{
    height: 50px;
    width:50px;
    border-radius: 50%;
    background: url("../img/user.png") center center no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

}