@import "../utilities/variables.scss";
@import "../utilities//mixins.scss";

.PlayersAdminPage {
    @include component-size(flex, column, center, flex-start);

    .btn-invit {
        margin-top: 30px;
        margin-bottom: 35px;
        background-color: $second-color;
        border-color: #2c3e50;
        color: $base-color;
    }


    #div-search {
        align-items: flex-start;
        width: 100%;

        #search {
            width: 40%;
        }
    }
}