@import "../utilities/variables.scss";
@import "../utilities//mixins.scss";

.ProfilForm {
    @include component-size(flex, column, stretch, flex-start);

    h1{
        text-align: center;
    }
    
    .form-section{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    form{
        width: calc(50% - 10px);
    }

    .submit-btn{
        margin-top: 40px;
        text-align: center;
    }

    .logo{
        width: calc(50% - 40px);
        height: 50vh;
        background: url("../img/stadium.png") center center no-repeat;
        background-size: 70%;
    }

    .user-picture{
        width: calc(50% - 40px);
        height: 200px;
        border-radius: 50%;
        background: url("../img/user.png") center center no-repeat;
        background-size: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .input-picture{
        text-align: center;
        margin-bottom: 20px;
    }

    .injured-info{
        text-align: center;
    }

    .select-div{
        text-align: center;
    }
}