@import "../utilities/variables.scss";
@import "../utilities/mixins.scss";

.TeamsAdminPage{
  @include component-size(flex, column, center, flex-start);

  h1 {
    margin: 5px 5px 20px 5px;
  }

  .tables_container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

  #div-search {
    position:sticky;
    top:0;
    width: 97%;
    margin-bottom: 0;
    .search {
      width: 100%;
      }
    }
  }

  table{
    thead {
      position:sticky;
      top:37px;
    }
    width : 97%;
    input {
      max-width: 150px;
    }
    .edit, .confirm{
      margin-right:5px;
    }
    .btn-sm {
      margin-bottom:5px;
    }
    .error {
      width: 100%;
      margin-top:0.25rem;
      font-size:80%;
      color : #E74C3C;
    }
  }
  
  #createTeam {
    width: 45%;
    margin-left: auto;
    margin-right: auto;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #showFormDiv {
      margin-top : 25px;
      margin-bottom: 40px;
    }

    #form-create {
      //margin-top: -23px;
      margin-bottom: 40px;

      fieldset {
        border: 2px solid $fifth-color;
        padding-left: 10px;
        padding-right: 20px;

        legend {
          width: 30%;
          margin-left: 5px;
          text-align: left;
        }

        #sendDiv {
          margin-top: 30px;

          #btn-submitCreate, #btn-cancelCreate {
            margin-bottom: 8px;
          }

          #btn-cancelCreate {
            margin-left: 5px;
          }
        }
      }
    }
  }
}